.cart{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 20;
    z-index: 2;
    background-color: #0F52BA;
    width: 26vw;
    height: 100%;
    color: #FFFFFF;
    font-weight: 600;
}

.cartHeader {
    display: flex;
    justify-content: space-between;
}

.cartHeader h2 {
    font-size: 1.2rem;
    width: 50%;
    text-align: left;
    margin-left: 2%;
}

.cartHeader div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
}

.close {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-radius: 100%;
    width: 30%;
    height: 30%;
    color:#FFFFFF;
    margin: 0 auto;
    cursor: pointer;
}

.total {
    position: absolute;
    bottom: 14%;
    display: flex;
    font-weight: 700;
    font-size: 1.2rem;
}

.buyBtn {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: #000000;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.3rem;
    cursor: pointer;
}

